<footer>
    {{> social }}
    <p>Proudly generated with <a href="{{ site.generatorurl }}" title="{{ generatortitle }}">{{ site.generatorname }}</a>.</p>
    <p>Hosted on <a href="{{ site.hosturl }}" title="{{ hosttitle }}">{{ site.hostname }}</a>.</p>
</footer>

<link href="/assets/css/styles.min.css" rel="stylesheet">
<script src="/assets/js/script.min.js"></script>
<script>
   'serviceWorker' in navigator && navigator.serviceWorker.register('/service-worker.js');
</script>
